<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/css/main.css">
    <script type="text/javascript" src="javascript/main.js"></script>
    <title>Datmehar-Calculator</title>
</head>
<body>
    
    

    <div class="grid-container">
        <div class="display-screen">
        <form id="form1">
            <output name="result" for="a b" id="result"></output>
        </form>    
        </div>
        <button><div class="plus">+</div></button>
        <button id="1"><div class="grid-item">1</div></button>
        <button id="2"><div class="grid-item">2</div></button>
        <button id="3"><div class="grid-item">3</div></button>
        <button><div class="minus">-</div></button>
        <button id="4"><div class="grid-item">4</div></button>
        <button id="5"><div class="grid-item">5</div></button>
        <button id="6"><div class="grid-item">6</div></button>
        <button><div class="multiply">*</div></button>
        <button id="7"><div class="grid-item">7</div></button>
        <button id="8"><div class="grid-item">8</div></button>
        <button id="9"><div class="grid-item">9</div></button>
        <button><div class="divide">/</div></button>
        <button><div class="equal">=</div></button>
        <button id="0"><div class="grid-item">0</div></button>
        <button><div class="decimal">.</div></button>
        <button><div class="cc">CC</div></button>
      </div>
      
</body>
</html>